* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}
.wrap {
  width: 100%;
  margin: auto;
}
.nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(238, 238, 238);
}
.nav input {
  display: none;
}
.nav .trigger {
  display: none;
  cursor: pointer;
}
.nav .logo {
  margin: 10px 0 10px 40px;
}
.nav ul {
  display: flex;
  margin: 10px;
}
.nav ul li {
  margin-right: 20px;
}
.nav label.close {
  border: none;
  font-size: 28px;
  position: fixed;
  right: 0;
  z-index: 1000;
  display: none;
  cursor: pointer;
}
.welcome {
  background-color: rgb(207, 220, 236);
  text-align: center;
  width: 100%;
  line-height: 25vh;
  margin: auto;
}

main {
  text-align: center;
}
main h2 {
  margin-top: 20px;
}
.sectionBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: 10px;
  margin-left: 10px;
}
.sectionBox .box {
  flex: 1 40%;
  background-color: rgb(139, 152, 168);
  height: 200px;
  margin: 20px;
  max-width: 1200px;
}
main #section2 {
  display: none;
}
main #section2.active {
  display: flex;
}
footer {
  text-align: center;
}
footer span {
  background-color: rgb(207, 220, 236);
  padding: 10px;
  cursor: pointer;
}
@media screen and (max-width: 799px) {
  .nav {
    position: relative;
  }
  .nav ul {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    width: 15rem;
    height: 100vh;
    right: 0;
    top: 0;
    margin: 0;
    transform: translateX(100%);
  }
  .nav .trigger {
    display: block;
    margin: auto 20px auto 0;
  }
  .nav .trigger .line {
    width: 30px;
    height: 2px;
    background: #666;
    margin: 6px 0;
  }
  .nav #switch:checked + ul {
    transform: translateX(0);
    transition: 0.3s ease;
  }
  .nav #switch:checked + ul > li {
    margin: 10px 0;
    padding: 0 20px;
  }
  .nav #switch:checked + ul + label.close {
    display: inline-block;
    margin-right: 25px;
  }
}
@media screen and (max-width: 499px) {
  main .sectionBox .box {
    flex: 1 80%;
  }
}
