doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title getData
    body 
    if result
        h1=result
    else if wrong 
        h1=wrong
    else 
        h1=lack    